*{
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    user-select: none;

}
body{
    background-color: #333;
    background-image:url(https://cdn.pixabay.com/photo/2021/01/14/23/00/andromeda-galaxy-5918123_1280.jpg);
    background-size:cover;
    background-repeat:repeat-y;

}
.header{
    background-color: #0000006e;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.title{
    color: white;
    margin-left: 10px;
    font-size: 2.5vw;
}
.nav-header{
    margin-right: 10px;
}
.ul-nav{
    display: flex;
    list-style: none;
}
.li-nav{
    margin: 5px;
    font-size: 1.5vw;
}
.li-nav>*{
    text-decoration: none;
    color: white;
    transition: .3s ease;
}
.li-nav>*:hover{
    color:#6505b9;
}

